
#placar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#jogador, #computador{
    position: relative;
    flex-grow: 1;
    border-radius: 5px;
    width: 200px;
    padding: 20px;
    color: #fff;
}
#jogador_nome , #computador_nome{
    margin: 0 ;
    padding: 0;
}
#jogador_nome{
     text-align: left;
}
#computador_nome{
    text-align: right;
}

#jogador_pontos , #computador_pontos{
    position: absolute;
    top: 8px;
    font-size: 32px;
}
#jogador_pontos{
    right: 20px;
}

#jogador{
    background-color:#2c2c54 ;
    opacity: 0.9;
}
#computador{
    background-color: #ff5252;
    opacity: 0.8;
}

#versus{
    font-size: 40px;
    width: 70px;
}

#jogador_escolha  ,ul#computador_escolha{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    padding: 0;
}
 #jogador_escolha li  ,#computador_escolha li{
  display: inline;
}
 #jogador_escolha  li a , #computador_escolha li a{
   opacity: 0.2;
}
 #jogador_escolha  li a:hover , ul#jogador_escolha li a.selecionado, ul#computador_escolha li a.selecionado{
    opacity: 1;
}

.icon{
    max-width: 50px;
}


#mensagens{
    background-color: #3867d6;
    opacity: 0.8;
    border-radius: 5px;
    font-size: 32px;
    margin: 40px  0;
    padding: 15px;
}